[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
ansible = "*"
python-openstackclient = "*"
click = "*"
python-neutronclient = "*"
flask = "*"
pymongo = "*"
docker = "*"
celery = "*"

[requires]
python_version = "3.6"
